.sign-component {
  padding: 4rem 0;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  .sign-up-error-message {
    color: red;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 30rem;
    input,
    button {
      width: 30rem;
      height: 5rem;
    }
    button {
      font-size: 3rem;
      &:hover {
        cursor: pointer;
      }
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
    .sign-component-switch {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
