.search-bar-component {
  padding: 0 0.5rem;
  width: 80%;
  background-color: beige;
  display: flex;
  align-items: center;
  height: 4rem;
  gap: 1rem;
  border-radius: 5px;
  input {
    flex: 1;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    &:focus {
      outline: none;
    }
  }
}
