header {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  > nav {
    display: flex;
    flex: 3;
    justify-content: space-around;
    text-align: center;
  }
  > div {
    flex: 1;
  }

  img {
    height: 60px;
    &:hover {
      opacity: 0.8;
    }
  }
  h2 {
    color: white;
    &:hover {
      color: orangered;
      transition: 0.2s;
    }
  }
}
