header {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  > nav {
    display: flex;
    flex: 3;
    justify-content: space-around;
    text-align: center;
  }
  > div {
    flex: 1;
  }

  img {
    height: 60px;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
  h2 {
    color: white;
    &:hover {
      color: orangered;
      transition: 0.2s;
    }
  }
  .header-component-account {
    display: flex;
    justify-content: center;
    > div {
      position: relative;
    }
  }
  .header-component-account-menu {
    position: absolute;
    top: 8rem;
    left: -7rem;
    width: 20rem;
    height: 6rem;
    background-color: #717171;
    border: 1px solid black;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  .header-component-account-menu-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
